.container{
    display: grid;
    background-color:#ccc;
    grid-gap: 10px;
    grid-template-areas: 
      "header header header header header"
      "menu menu content content content content content"
      "footer footer footer  footer ad"
    ;
}

.item{
    border-radius: 10px;
    background-color: blue;
    padding: 20px;
    color: white;
    font-size: 20px;

}
header{
    grid-area: header;
}
nav{
    grid-area: menu;
}
section{
    grid-area: content;
}
footer{
    grid-area: footer;
}

.ad{
    grid-area: ad;
}